.hero-block {
  min-height: 600px; 
  min-width: 100%;
  margin-bottom: 100px;
  background: url(/assets/images/girl-reading.jpg) #ba7004 center -100px no-repeat;
  box-shadow:inset 0 0 0 2000px rgba(170,119,18,0.7);

  .ui.header {
  	color: #ffffff;
  }

	.hero-title {
		margin-left: 5em;
		position: absolute;
  	top: 80px;
		font-size: 35px !important;
		text-align: left;
	}

  .login-segment {
    margin-right: 10em !important;
    
    .login-card {
      min-width: 400px;
    }
  }

}

.hero-subblock {
  margin-bottom: 100px;
}